.usersContainer {
  background: #b0d7ff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1.5rem;
  // margin: 0 auto;
  width: 100%;
  width: 700px;
  max-height: 95vh;
  overflow: auto;
}

table{
  border-collapse: collapse;
}

td {
  width: 20%;

}

.delete {
  width: 5%;
}

.usersContainer::-webkit-scrollbar {
  display: none;
}
