.HeaderContainer {
  border: 1px solid blue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5vh;
  // width: 50px;
  display: flex;
  justify-content: center;
  // z-index: 1;

  img{
    width: 250px;
    height: 250px;
  }

  @media only screen and (min-width: 750px){
    display: none;
  }

  @media only screen and (max-width: 480px){
    height: 200px;
    top: -110px;
  }

}
