.personnalsPosts {
  display: flex;
  flex-direction: column;
  background: #b0d7ff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1.5rem;
  width: 100%;
  width: 700px;
  max-height: 95vh;
  overflow: auto;

  .emptyPost {
    // border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
      width: 30%;
      padding: 1rem;
      cursor: pointer;
      background: #2d3142;
      border-radius: 5px;
      color: #fff;
      border: none;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
