.news {
  // background-color: #4e5166;
  // background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");

  min-height: 90vh;
  display: flex;
  align-items: center;

  .postsContainer {
    background-color: #ffd7d7;
    background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 0 auto;
    width: 100%;
    width: 700px;
    max-height: 95vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .postsContainer::-webkit-scrollbar {
    display: none;
  }
}
