.news {
  min-height: 90vh;
  display: flex;
  align-items: center;

  .postsContainer {
    border-radius: 5px;
    padding: 0.75rem;
    margin: 0 auto;
    width: 700px;
    max-height: 95vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .postsContainer::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .news {
    width: 70%;
    .postsContainer {
      padding: 0.75rem;
    }
  }
}

@media only screen and (max-width: 750px) {
  .news {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .postsContainer {
      max-height: calc(95vh - 80px);
      display: flex;
      align-items: center;
      width: 95%;
    }
  }
}
