.postContainer {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.post {
  border-radius: 5px;
  background: white;
  padding: 1rem;
  position: relative;
  transition: box-shadow 0.3s;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;

  .imgUrl {
    max-width: 100%;
    min-width: 50%;
    object-fit: cover;
    background-size: cover;
    margin: 1rem 0;
  }

  .postHeader {
    background-color: #4e5166;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    color: white;
    border: 2px solid #ffd7d7;
    position: relative;

    .postProfil {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #ffd7d7;
        background: #fff;
      }
    }
  }

  .postBody {
    word-break: break-all;
    padding: 1rem;
    text-align: left;
    min-height: 150px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 0.25rem;
    flex-wrap: wrap;
  }

  span {
    background: #fff;
    border: 1px solid #4e5166;
    margin-bottom: 1rem;
    padding: 1rem;
    font-weight: 700;
    color: #fd2d01;
    border-radius: 5px;
  }

  textarea {
    border-color: #4e5166 !important;
    width: 100%;
    resize: none;
    outline: none;

    &:focus {
      border-color: #fd2d01 !important;
    }
  }

  .imgContainer {
    position: relative;
    display: flex;
    justify-content: center;

    .inputImgContainer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      input {
        display: none;
      }

      label {
        i {
          font-size: 4rem;
          background: #fd2d01;
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: #fff;
        }
      }
    }
  }

  .imgContainerbis {
    position: relative;
    display: flex;
    justify-content: center;

    .inputImgContainerbis {

      input {
        display: none;
      }

      label {
        i {
          font-size: 4rem;
          background: #fd2d01;
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: #fff;
        }
      }
    }
  }

  button {
    background: #fd2d01;
    background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 5px;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
    transition: all 0.3s;

    &:hover {
      background: white;
      border: 1px solid #fd2d01;

      i {
        color: #fd2d01;
      }
    }
  }

  .updateButton {
    background: green;
    background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
    &:hover {
      border-color: green;
      background: #fff;

      i {
        color: green;
      }
    }
  }

  .btnChevron {
    background: transparent;
    color: #fd2d01;
    padding: 0.5rem;
    margin-left: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: #4e5166;
    }
  }

  .addComment {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #4e5166;
    background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
    height: 100%;
    border: 1px solid transparent;
    transition: all 0.3s;
    border-radius: 0 5px 5px 0;

    &:hover {
      background: white;
      border: 1px solid #4e5166;

      i {
        color: #4e5166;
      }
    }
  }

  .inputContainer {
    position: relative;
    width: 100%;
    border: 1px solid #dddfe2;
    border-radius: 5px;
  }

  .btnContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

    .btn {
      display: flex;
    }

    .comments {
      flex-grow: 1;
      padding: 1rem;
      border-radius: 5px;
      outline: none;
      transition: border-color 0.3s;
      width: 80%;
      border: none;

      &:focus {
        border-color: #fd2d01;
      }
    }
  }

  i {
    width: 15px;
    height: 15px;
  }
}

.commentsWall {
  padding: 1rem;
  background: #ffd7d7;
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
  border-radius: 5px;
  width: 95%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  margin: 0.25rem auto 0 auto;
  transform: translateY(-100%);
  transition: all 0.5s;
  position: relative;
}

.appear {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}

.heartContainer {
  cursor: pointer;
  margin-left: 0.5rem;
  position: relative;

  .length {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  i {
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: red;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 992px) {
  .postContainer {
    .post {
      padding: 0.5rem;
      .postHeader {
        padding: 0.75rem;
        img {
        }
      }

      .btnContainer {
        button {
          padding: 0 1rem;
        }
      }

      .postBody {
        min-height: 100px;
      }
    }

    .btnChevron {
      bottom: -5px;
    }
    .commentsWall {
      padding: 0.5rem;
    }
  }
}

@media only screen and (max-width: 750px) {
  .postContainer {
    .post {
      .postHeader {
        padding: 0.5rem;

        img {
          height: 30px;
          width: 30px;
        }
      }

      .postBody {
        min-height: 75px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .postContainer {
    .post {
      .postHeader {
        font-size: 0.8rem;
        img {
        }
      }

      .postBody {
        max-height: 160px;
        overflow: hidden;
      }

      .btnContainer {
        flex-direction: column;

        .btn {
          margin-top: 0.5rem;
          display: flex;
          justify-content: center;

          button,
          div {
            width: 25%;
          }

          .heartContainer {
            display: flex;
            justify-content: center;

            i {
              font-size: 1rem;
              height: 30px;
            }
          }
        }
      }
    }

  }
}
