.postContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.post {
  // border: 1px solid rgb(176, 215, 255);
  border-radius: 5px;
  background: white;
  padding: 1rem;
  position: relative;
  transition: box-shadow 0.3s;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  // border: 1px solid #fd2d01;

  .imgUrl {
    max-width: 100%;
    width: 100%;
    margin-top: 1rem;
    // height: 100px;
  }

  .postHeader {
    background-color: #4e5166;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    color: white;
    border: 2px solid #fd2d01;

    .postProfil {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 40px;
        border-radius: 50%;
        border: 2px solid #ffd7d7;
      }
    }
  }

  .postBody {
    padding: 1rem 0;
    text-align: left;
  }

  button {
    background: #fd2d01;
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 5px;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
    transition: all 0.3s;

    &:hover {
      background: white;
      border: 1px solid #fd2d01;
      box-shadow: 1px 1px 10px #fd2d01;

      i {
        color: #fd2d01;
      }
    }
  }

  .addComment {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: #4e5166;
    height: 100%;
    border: 1px solid transparent;
    transition: all 0.3s;
    border-radius: 0 5px 5px 0;

    &:hover {
      background: white;
      border: 1px solid #ffd7d7;
      box-shadow: 1px 1px 10px rgba(176, 215, 255, 01);

      i {
        color: #ffd7d7;
      }
    }
  }

  .inputContainer {
    position: relative;
    width: 100%;
    border: 1px solid #dddfe2;
    border-radius: 5px;
  }

  .btnContainer {
    display: flex;
    justify-content: flex-end;
    // align-items: center;

    .comments {
      flex-grow: 1;
      padding: 1rem;
      border-radius: 5px;
      // border: 1px solid #dddfe2;
      outline: none;
      transition: border-color 0.3s;
      width: 80%;
      border: none;

      &:focus {
        border-color: #fd2d01;
      }
    }
  }

  i {
    width: 15px;
    height: 15px;
  }
}

.commentsWall {
  padding: 0.5rem;
  background: #fff;
  border-radius: 5px;
  width: 95%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  margin: 0.25rem auto 0 auto;
  // opacity: 0;
  transform: translateY(-100%);
  transition: all 0.5s;
  position: relative;
  // top: -10px;
}

.appear {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}
