.usersContainer {
  background: transparent;
  border-radius: 5px;
  padding: 0.75rem;
  width: 100%;
  width: 700px;
  max-height: 95vh;
  overflow: auto;
  position: relative;
  z-index: 1;

  @media only screen and (max-width: 992px) {
    padding: 0.75rem;
    width: 70%;
  }
}

.usersContainer::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 750px) {
  .usersContainer {
    width: 95%;
    max-height: calc(95vh - 80px);
    top: 2%;
    padding: 0.5rem;
    .admin {
      width: 9%;
    }
    .email {
      width: 30%;
    }
  }
}
