.profilContainer {
  background-color: #ffd7d7;
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  border-radius: 5px;
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  width: 700px;
  height: 50vh;
  min-height: 600px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }

  .infosContainer {
    width: 100%;
  }

  .btnContainer {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
  }
  .deleteBtn {
    background: #fd2d01;
    &:hover {
      border: 1px solid #fd2d01;
      background: #fff;
      color: #fd2d01;
    }
  }

  .postsBtn {
    background: #4e5166;
    &:hover {
      border: 1px solid #4e5166;
      background: #fff;
      color: #4e5166;
    }
  }

  .btn {
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s;
  }

  .lastnameContainer,
  .firstnameContainer,
  .ageContainer,
  .bioContainer,
  .roleContainer {
    display: flex;
    width: 100%;

    input,
    .lastname,
    .firstname,
    .age,
    .bio,
    .role {
      padding: 0.75rem 1.25rem;
      margin-left: 1rem;
    }

    .lastname,
    .firstname,
    .age,
    .bio,
    .role {
      width: 50%;
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }

  .lastnameInput,
  .firstnameInput,
  .ageInput,
  .mailInput,
  .bioInput,
  .roleInput {
    padding: 0.75rem 1.25rem;

    display: flex;
    align-items: center;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #4e5166;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 1px 1px 20px #ffd7d7;
    }
  }

  .fileContainer {
    width: 150px;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  input[type="file"] {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 1.2rem;
    border-radius: 50%;
    color: #fd2d01;
  }
}
.pictureContainer {
  position: relative;
}
