.profilContainer {
  background: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  border-radius: 5px;
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  width: 700px;
  height: 50vh;
  min-height: 450px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .lastnameContainer,
  .firstnameContainer,
  .ageContainer {
    display: flex;
    width: 100%;

    input {
      // padding: 1rem;
      margin-left: 1rem;
    }

    .lastname,
    .firstname,
    .age {
      width: 50%;
      // text-align: right;
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }

  .lastnameInput,
  .firstnameInput,
  .ageInput,
  .mailInput {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #b0d7ff;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 1px 1px 20px #b0d7ff;
    }
  }
}
