.profilContainer {
  background: #5d6079;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #fd2d01;
  border-radius: 5px;
  padding: 2rem;
  width: 100%;
  width: 700px;
  height: 50vh;
  min-height: 600px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.profilContainer::-webkit-scrollbar {
  display: none;
}

.profilContainer .infosContainer {
  border-top: 1px solid #ffd7d7;
  width: 100%;
  padding-top: 0.75rem;
}

.profilContainer .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 1px solid #ffd7d7;
  border-bottom: 1px solid #ffd7d7;
}

.profilContainer .btn {
  color: #fff;
  width: 50%;
  cursor: pointer;
  padding: 0.75rem 0;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: transparent;
  border: 1px solid transparent;
}

.profilContainer .btn:hover {
  background: #ffd7d7;
  color: #4e5166;
}

.profilContainer .deleteBtn:hover {
  background: #fd2d01;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .profilContainer .deleteBtn {
    border-top: 1px solid #ffd7d7;
  }
}

.profilContainer .lastnameContainer,
.profilContainer .firstnameContainer,
.profilContainer .ageContainer,
.profilContainer .bioContainer,
.profilContainer .roleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.25rem;
}

.profilContainer .lastnameContainer input,
.profilContainer .lastnameContainer .lastname,
.profilContainer .lastnameContainer .firstname,
.profilContainer .lastnameContainer .age,
.profilContainer .lastnameContainer .bio,
.profilContainer .lastnameContainer .role,
.profilContainer .firstnameContainer input,
.profilContainer .firstnameContainer .lastname,
.profilContainer .firstnameContainer .firstname,
.profilContainer .firstnameContainer .age,
.profilContainer .firstnameContainer .bio,
.profilContainer .firstnameContainer .role,
.profilContainer .ageContainer input,
.profilContainer .ageContainer .lastname,
.profilContainer .ageContainer .firstname,
.profilContainer .ageContainer .age,
.profilContainer .ageContainer .bio,
.profilContainer .ageContainer .role,
.profilContainer .bioContainer input,
.profilContainer .bioContainer .lastname,
.profilContainer .bioContainer .firstname,
.profilContainer .bioContainer .age,
.profilContainer .bioContainer .bio,
.profilContainer .bioContainer .role,
.profilContainer .roleContainer input,
.profilContainer .roleContainer .lastname,
.profilContainer .roleContainer .firstname,
.profilContainer .roleContainer .age,
.profilContainer .roleContainer .bio,
.profilContainer .roleContainer .role {
  padding: 0.75rem 1.25rem;
  color: white;
  font-weight: 700;
}

.profilContainer .lastnameContainer input,
.profilContainer .firstnameContainer input,
.profilContainer .ageContainer input,
.profilContainer .bioContainer input,
.profilContainer .roleContainer input {
  border-radius: 5px;
  border: none;
  outline: none;
  background: #75778d;
}

.profilContainer .lastnameContainer input:focus,
.profilContainer .firstnameContainer input:focus,
.profilContainer .ageContainer input:focus,
.profilContainer .bioContainer input:focus,
.profilContainer .roleContainer input:focus {
  border: 1px dashed #fd2d01;
}

.profilContainer .lastnameContainer .lastname,
.profilContainer .lastnameContainer .firstname,
.profilContainer .lastnameContainer .age,
.profilContainer .lastnameContainer .bio,
.profilContainer .lastnameContainer .role,
.profilContainer .firstnameContainer .lastname,
.profilContainer .firstnameContainer .firstname,
.profilContainer .firstnameContainer .age,
.profilContainer .firstnameContainer .bio,
.profilContainer .firstnameContainer .role,
.profilContainer .ageContainer .lastname,
.profilContainer .ageContainer .firstname,
.profilContainer .ageContainer .age,
.profilContainer .ageContainer .bio,
.profilContainer .ageContainer .role,
.profilContainer .bioContainer .lastname,
.profilContainer .bioContainer .firstname,
.profilContainer .bioContainer .age,
.profilContainer .bioContainer .bio,
.profilContainer .bioContainer .role,
.profilContainer .roleContainer .lastname,
.profilContainer .roleContainer .firstname,
.profilContainer .roleContainer .age,
.profilContainer .roleContainer .bio,
.profilContainer .roleContainer .role {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profilContainer .lastnameInput,
.profilContainer .firstnameInput,
.profilContainer .ageInput,
.profilContainer .mailInput,
.profilContainer .bioInput,
.profilContainer .roleInput {
  padding: 0.75rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: 700;
}

.profilContainer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  -webkit-box-shadow: 1px 1px 10px #ffd7d7;
          box-shadow: 1px 1px 10px #ffd7d7;
}

.profilContainer .fileContainer {
  width: 150px;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.profilContainer input[type="file"] {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .profilContainer input[type="file"] {
    width: 150px;
    height: 150px;
  }
}

.profilContainer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
  border-radius: 50%;
  color: #fd2d01;
}

@media only screen and (max-width: 600px) {
  .profilContainer label {
    width: 150px;
    height: 150px;
    text-align: center;
  }
}

.pictureContainer {
  position: relative;
}

.pictureContainer img {
  background: #fff;
}

@media only screen and (max-width: 992px) {
  .profilContainer {
    width: 70%;
    margin: 0;
  }
}

@media only screen and (max-width: 750px) {
  .profilContainer {
    height: calc(95vh - 80px);
    position: absolute;
    top: 2%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .profilContainer .pictureContainer img {
    width: 150px;
    height: 150px;
  }
  .profilContainer .infosContainer .lastname,
  .profilContainer .infosContainer .firstname,
  .profilContainer .infosContainer .age,
  .profilContainer .infosContainer .bio,
  .profilContainer .infosContainer .role {
    width: 30%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profilContainer .infosContainer input {
    width: 50%;
  }
  .profilContainer .btnContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profilContainer .btnContainer button {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .profilContainer {
    padding: 1rem;
  }
  .profilContainer .btnContainer button {
    padding: 0.5rem;
  }
}
/*# sourceMappingURL=UserProfil.module.css.map */