.profilContainer {
  background-color: #ffd7d7;
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  border-radius: 5px;
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  width: 700px;
  height: 50vh;
  min-height: 600px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.profilContainer::-webkit-scrollbar {
  display: none;
}

.profilContainer .infosContainer {
  width: 100%;
}

.profilContainer .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.profilContainer .deleteBtn {
  background: #fd2d01;
}

.profilContainer .deleteBtn:hover {
  border: 1px solid #fd2d01;
  background: #fff;
  color: #fd2d01;
}

.profilContainer .postsBtn {
  background: #4e5166;
}

.profilContainer .postsBtn:hover {
  border: 1px solid #4e5166;
  background: #fff;
  color: #4e5166;
}

.profilContainer .btn {
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.profilContainer .lastnameContainer,
.profilContainer .firstnameContainer,
.profilContainer .ageContainer,
.profilContainer .bioContainer,
.profilContainer .roleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.profilContainer .lastnameContainer input,
.profilContainer .lastnameContainer .lastname,
.profilContainer .lastnameContainer .firstname,
.profilContainer .lastnameContainer .age,
.profilContainer .lastnameContainer .bio,
.profilContainer .lastnameContainer .role,
.profilContainer .firstnameContainer input,
.profilContainer .firstnameContainer .lastname,
.profilContainer .firstnameContainer .firstname,
.profilContainer .firstnameContainer .age,
.profilContainer .firstnameContainer .bio,
.profilContainer .firstnameContainer .role,
.profilContainer .ageContainer input,
.profilContainer .ageContainer .lastname,
.profilContainer .ageContainer .firstname,
.profilContainer .ageContainer .age,
.profilContainer .ageContainer .bio,
.profilContainer .ageContainer .role,
.profilContainer .bioContainer input,
.profilContainer .bioContainer .lastname,
.profilContainer .bioContainer .firstname,
.profilContainer .bioContainer .age,
.profilContainer .bioContainer .bio,
.profilContainer .bioContainer .role,
.profilContainer .roleContainer input,
.profilContainer .roleContainer .lastname,
.profilContainer .roleContainer .firstname,
.profilContainer .roleContainer .age,
.profilContainer .roleContainer .bio,
.profilContainer .roleContainer .role {
  padding: 0.75rem 1.25rem;
  margin-left: 1rem;
}

.profilContainer .lastnameContainer .lastname,
.profilContainer .lastnameContainer .firstname,
.profilContainer .lastnameContainer .age,
.profilContainer .lastnameContainer .bio,
.profilContainer .lastnameContainer .role,
.profilContainer .firstnameContainer .lastname,
.profilContainer .firstnameContainer .firstname,
.profilContainer .firstnameContainer .age,
.profilContainer .firstnameContainer .bio,
.profilContainer .firstnameContainer .role,
.profilContainer .ageContainer .lastname,
.profilContainer .ageContainer .firstname,
.profilContainer .ageContainer .age,
.profilContainer .ageContainer .bio,
.profilContainer .ageContainer .role,
.profilContainer .bioContainer .lastname,
.profilContainer .bioContainer .firstname,
.profilContainer .bioContainer .age,
.profilContainer .bioContainer .bio,
.profilContainer .bioContainer .role,
.profilContainer .roleContainer .lastname,
.profilContainer .roleContainer .firstname,
.profilContainer .roleContainer .age,
.profilContainer .roleContainer .bio,
.profilContainer .roleContainer .role {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profilContainer .lastnameInput,
.profilContainer .firstnameInput,
.profilContainer .ageInput,
.profilContainer .mailInput,
.profilContainer .bioInput,
.profilContainer .roleInput {
  padding: 0.75rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profilContainer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #4e5166;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.profilContainer img:hover {
  -webkit-box-shadow: 1px 1px 20px #ffd7d7;
          box-shadow: 1px 1px 20px #ffd7d7;
}

.profilContainer .fileContainer {
  width: 150px;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.profilContainer input[type="file"] {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.profilContainer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 1.2rem;
  border-radius: 50%;
  color: #fd2d01;
}

.pictureContainer {
  position: relative;
}
/*# sourceMappingURL=UserProfil.module.css.map */