.navbar {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: #5D6079;
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ffd7d7;

  @media only screen and (max-width: 750px) {
  }

  .navcontainer {
    width: 100%;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    min-height: 200px;
    @media only screen and (max-width: 750px) {
      min-height: auto;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    li {
      a {
        width: 100%;
        height: 100%;
      }
    }

    a,
    button,
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      position: relative;
      z-index: 1;
      background: transparent;
      color: #ffd7d7;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: #fff;
      }
    }
  }
}

.bgContainer {
  position: absolute;
  height: auto;
  max-width: 100%;
  z-index: 1;
  top: 0;
  transform: translateY(-50%);
  left: 0;
  bottom: 0;
  right: 0;

  @media only screen and (max-width: 750px) {
    max-height: auto;
    max-width: 150px;
    top: 25px;
    object-fit: cover;
    margin: 0 auto;
    filter: none;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    width: 150px;
  }
}

@media only screen and (max-width: 750px) {
  .navbar {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    box-shadow: none;
    border: none;

    .navcontainer {
      background: #5D6079;
      border-top: 1px solid #ffd7d7;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    ul {
      flex-wrap: nowrap;
      width: 100%;
    }
  }
}
