.navbar {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #ffd7d7;
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");

  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgba(0, 0, 0);

  .navcontainer {
    width: 100%;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    min-height: 200px;

    a,
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      max-height: 50%;
      background: transparent;

      color: #4e5166;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: #fff;
      }
    }

    button {
      border: none;
    }
  }
}
