.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background: white;

    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
    background: #fd2d01;
    background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");

    @media only screen and (max-width: 550px) {
      width: 400px;
      height: 400px;
    }

    @media only screen and (max-width: 420px) {
      width: 300px;
      height: 300px;
      padding: 0.5rem;
    }

    input,
    textarea,
    label {
      padding: 1rem;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 5px;

      @media only screen and (max-width: 550px) {
        padding: 0.7rem;
      }

      @media only screen and (max-width: 420px) {
        padding: 0.5rem;
      }

      &:focus {
        border: 1px solid #ffd7d7;
      }
    }

    label {
      margin-bottom: 1rem;
      background-color: #4e5166;
      background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
      color: white;
      cursor: pointer;
      transition: all 0.3s;
      display: flex;
      justify-content: center;
      font-size: 1.5rem;

      @media only screen and (max-width: 550px) {
        font-size: 1.2rem;
      }

      @media only screen and (max-width: 420px) {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
      &:hover {
        background: #fff;
        color: #fd2d01;
        border-color: #fff;
      }
    }

    input[type="file"] {
      display: none;
    }

    span {
      background: #fff;
      border: 1px solid #4e5166;
      margin-bottom: 1rem;
      padding: 1rem;
      font-weight: 700;
      color: #fd2d01;
      border-radius: 5px;
    }

    textarea {
      flex-grow: 1;
      margin-bottom: 1rem;
      resize: none;

      @media only screen and (max-width: 420px) {
        margin-bottom: 0.5rem;
      }
    }

    .btnContainer {
      display: flex;
      justify-content: space-between;

      input[type="button"] {
        cursor: pointer;
        background-color: #4e5166;
        background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        width: 50%;
        margin: 0 1rem;
        transition: all 0.3s;

        @media only screen and (max-width: 550px) {
          padding: 0.7rem;
          font-size: 1rem;
        }

        @media only screen and (max-width: 420px) {
          padding: 0.5rem;
          font-size: 0.8rem;
        }

        &:hover {
          background: #fff;
          color: #fd2d01;
          border-color: #fff;
        }
      }
    }
  }
}
