*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerRoot {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20%;
  width: 100%;
  position: relative;
  z-index: 5;
}

#root {
  background-color: #4e5166;

}

.active i {
  color: #FD2D01;
}

body {
  font-family: "Lato", sans-serif;
  
}

@media only screen and (max-width: 750px) {
  .containerRoot {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
