.error404 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #ffd7d7;
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1.5rem;
  width: 100%;
  width: 700px;
  max-height: 95vh;
  overflow: auto;

  button {
    padding: 0.75rem 1.25rem;
    background: #fd2d01;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: #fff;

    &:hover {
      background: #fff;
      border-color: #fd2d01;
      color: black;
    }
  }
}
