.commentsContainer {
  margin: 0 auto 0 auto;
  padding: 0.5rem 0rem;

  .comment {
    background: #75778d;
    border: 1px solid #ffd7d7;
    align-items: center;
    border-radius: 5px;

    .commentBottom {
      display: flex;
      overflow: hidden;
      align-items: center;
      padding: 1rem;
    }

    .commentProfil {
      display: flex;
      align-items: center;

      img {
        background: #fff;

        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 1rem;
      }
    }

    .commentName {
      margin-right: auto;
      
      .name {
        color: #ffd7d7;
        font-weight: bold;
      }

      .date {
        font-size: 0.8rem;
      }
    }

    .commentHead {
      display: flex;
      align-items: center;
      color: #fff;
      padding: 0.5rem;
      width: 100%;
      border-bottom: 1px solid #87899d;
    }

    .commentBody {
      color: #fff;
      margin-right: auto;
    }
  }

  button {
    background: transparent;
    padding: 0.75rem 1.25rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    margin-left: auto !important;
    transition: all 0.3s;

    &:hover {
      color: #fd2d01;
    }
  }
}

@media only screen and (max-width: 992px) {
  .commentsContainer {
    padding: 0;
    padding-bottom: 0.5rem;
    .comment {
      padding: 0.5rem;
    }
  }
}

@media only screen and (max-width: 750px) {
  .commentsContainer {
    padding: 0;
    padding-bottom: 0.5rem;
    .comment {
      padding: 0.5rem;
      .commentProfil {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .commentsContainer {
    .comment {
      .commentHead {
        font-size: 0.8rem;
      }
    }
  }
}
