.home {
  background-color: #4e5166;
  background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
  height: 100vh;
  width: 100%;

  .homeWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
  }

  .homeTitle {
    border-radius: 5px;
    background-color: #ffd7d7;
    background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    img {
      width: 60%;
    }

    h1,
    h2 {
      color: #4e5166;
      // font-size: 1em;
    }
  }
}

@media only screen and (max-width: 992px) {
  .home {
    // flex-direction: column;
    // padding: 0 1rem;

    .homeWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .homeTitle {
        margin: 2rem 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .homeTitle {
    max-width: 500px;
    width: 90%;
    margin: 2rem;
    font-size: 0.6rem;
  }
}
