.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 450px;
  align-items: center;
  background: #fd2d01;
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.7);

  input {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: black;
    }
  }

  input[type="button"] {
    cursor: pointer;
  }
  hr {
    height: 1px;
    background-color: #4e5166;
    width: 100%;
    border: none;
  }

  .loginBtn {
    background: #4e5166;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    font-size: 1.1rem;
    transition: all 0.3s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

    &:hover {
      background: white;
      color: #4e5166;
      border-color: #4e5166;
    }
  }

  .accountBtn {
    width: 50%;
    background: #ffd7d7;
    background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    color: #4e5166;
    font-weight: bold;
    transition: all 0.3s;

    &:hover {
      background: white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .form {
    max-width: 500px;
    width: 90%;
    margin: 2rem auto;
    font-size: 0.6rem;
    .accountBtn {
      width: 100% !important;
    }

    .loginBtn {
      font-size: 1rem;
    }
  }
}
